body{
    background-color: rgba(255, 242, 205, 0.295);
    margin: 0;
    --backgroundColorDark: rgb(13, 24, 34);
    --backgroundColorLight: rgb(122, 118, 104);
    --cardColorDark: rgb(145, 121, 101);
    --buttonColor:  rgb(161, 152, 138);
    background-color: var(--backgroundColorDark);
    user-select: none;
    font-weight: bold;
}


.container{
    display: grid;
    position: relative;
    gap: 2rem;
    width: 100%;
    background-color: var(--backgroundColorDark);
}
h1 {
    color: rgb(238, 238, 238);
    font-size: 3rem;
}
.header{
    background-color: rgb(48, 56, 61);
    text-align: center;
    grid-column: 1/-1;
    box-shadow: 2px 2px 12px rgb(92, 92, 92);
    
}
.main {
    display: grid;
    justify-content: center; 
}
.newbook-btn {
    width: 150px;
    height: 40px;
    /* color: rgb(231, 230, 230); */
    color: rgb(245, 233, 217);
    text-shadow: 2px 2px rgba(94, 89, 72, 0.651);
    font-size: 30px;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: rgb(161, 152, 138);
    border: 1px solid rgba(255, 231, 195, 0.644);
    box-shadow: 3px 3px 3px rgba(107, 89, 62, 0.432);
    cursor: pointer;
}
.newbook-btn:active {
    position: relative;
    top: 2px;
}


.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20px));
    gap: 2rem;
    margin: 2rem;
    position: relative;
    
     
}
.cards:hover > .delete {
    background-color: #7e301c;
    color: rgb(255, 255, 255);
    font-size: 19px;
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    
}
.cards:hover > .delete:hover {
    background-color: #8d3621;
}
.cards:hover > .edit {

    display: flex;
    position: relative;
    /* margin-top: 20px; */

}

.edit{
    display: none;
    transition: 1.3s;
    position: relative;
}
.cards:hover{  
    /* position: absolute; */
    display: grid;
    background: hsla(35, 18%, 21%, 0.63);
   
    border-right: 30px solid rgb(77, 69, 69);
    border-left: 30px solid rgba(77, 69, 69, 0.315);

 }   

.cards{
    position: relative;
    display: grid;
    grid-template-rows: 230px 50px 20px 20px 40px;
    box-sizing: content-box;
    border-top: 30px solid hsl(0, 0%, 40%);
    border-bottom: 30px solid rgba(68, 61, 61, 0.884);
    width: auto;
    height: 400px;
    padding: 5px;
    background-color: rgb(116, 109, 99);
    outline: 2px solid hsl(0, 0%, 47%);
    transition: 0.5s;
}
.delete {
    margin: auto;
    width: 100px;
    color: white;
    font-size: 17px;
    background-color: #ca5031;
}
.edit-btn{
    margin: auto;
    width: 100px;
    font-size: 17px;
    color: white;
    background-color: #8b723a;
}

hr{
    width: 100%;
    height: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgb(129, 111, 96);
}

p {
    margin: 0;
}
.info {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin: 10px;
  
}


dialog {
    background-color: rgb(212, 207, 199);
    border: 1px solid rgb(11, 36, 105);
    border-radius: 50px;
    box-shadow: 0px 8px 0 8px hsl(39, 14%, 56%);
    outline: 2px solid hsl(53, 14%, 37%);
    
}
dialog:hover{
   
} 
dialog p {
    margin-top: 1rem;
    margin-left: 1rem;
    user-select: none;
}
dialog div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
   
   
    
}
dialog div button {
    font-size: 15px;
    width: 75px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: var(--buttonColor);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    font-weight: bold;
   

}
dialog div button:hover {
    background-color: #4b7e1c;
}
.close:hover {
    background-color: rgb(153, 78, 55);
}
form{
    user-select: none;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;

}
input {
    height: 30px;
    text-indent: 5px;
    outline: navajowhite;
}



